name: Create Release
on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        required: true
        description: 'New tag version'

jobs:
  create-release:
    name: Create Release tag
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Create tag
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git tag -a ${{ github.event.inputs.tag }} -m "Release ${{ github.event.inputs.tag }}"
          git push origin ${{ github.event.inputs.tag }}